@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap');
/* font-family: 'Hind Madurai', sans-serif; */



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
}
* {
    box-sizing: border-box;
}
button {
    cursor: pointer;
    font-family: 'Hind Madurai', sans-serif;
}
.wrapper-project {
    width: 100%;
    /* display: flex;
    justify-content: center; */
    background-color: #fffefe;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section {
    max-width: 1318px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.border-nav {
    width: 100%;
    border-bottom: 1px solid #EADDFF;
    display: flex;
    justify-content: center;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 67px;
}

.center-block-nav {

    display: flex;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.btn-form {
    height: 40px;
    width: 86px;
    left: 0px;
    top: 0px;
    border-radius: 100px;
    padding: 10px, 24px, 10px, 24px;
    color: #6F63FF;
    background-color: transparent;
    border: 1px solid #79747E;
}

.btn-sign {
    width: 112px;
}

.right-block-log-in {
    display: flex;
    width: 214px;
    height: 40px;
    justify-content: flex-end;
}

.advertiser {
    padding: 0px 20px;
}

.affilate {
    padding: 0px 20px;
}

.contacts {
    padding-left: 20px;
}

.btn-color {
    background: #6F63FF;
    color: white;
    border: 1px solid #6F63FF;
}

.first-nav-content-wrapper {
    display: flex;
    max-width: 1318px;
    width: 100%;
    margin-top: 138px;
    justify-content: center;
}

.left-first-txt {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
}

.for-performance-title {
    font-size: 80px;
    line-height: 76px;
    width: 532px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
}

.for-performance-txt {
    width: 399px;
    font-size: 24px;
    line-height: 32px;
    margin: 32px 0px;
}

.btn-for-performance {
    width: 175px;
    height: 56px;
}

.right-first-img {
    position: relative;
    left: -180px;
    top: -172px;
    width: 50%;
}

.devices-img img {
    width: 810px;
    position: absolute;
    height: auto;
}

.hand-on-devices {
    position: absolute;
    left: 499px;
    top: 294px;
}

.us-trusted-wrapper {
    width: 100%;
    border-bottom: 1px solid #EADDFF;
    margin-top: 100px;
    border-top: 1px solid #EADDFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.us-trusted-wrapper img {
    margin-top: 60px;
}

.us-trusted-txt {
    font-size: 28px;
    line-height: 36px;
    width: 731px;
    height: 56px;
    margin: 30px 0px 60px 0px;
    color: #6750A4;
    text-align: center;
    max-width: 1318px;
}

.conversion-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: #ffe28f61;
    /* filter: blur(500px); */
    /* max-width: 1318px; */
    align-items: center;
}

.conversion-block-title {
    margin: 100px 0px 80px 0px;
    font-size: 45px;
    line-height: 52px;
    color: #1D192B;
    /* width: 829px; */
}

.cards-conversion-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 104px;
    max-width: 1100px;
    justify-content: space-between;
}

.left-cards-conversion-wrapper {
    max-width: 536px;
    /* height: 312px; */
    background: #FFFFFF;
    border-radius: 20px;
    /* margin-right: 32px; */
    width: 40%;
    box-sizing: border-box;
    width: 48%;
}

.right-cards-conversion-wrapper {
    max-width: 536px;
    /* height: 312px; */
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: -60px 0px 80px rgb(0 0 0 / 5%);
    width: 48%;
}

.content-wrapper-conversion {
    display: flex;
}

.icon-block-conversion img {
    margin: 40px 0px 0px 40px;
}

.title-conversion-card {
    font-size: 32px;
    line-height: 40px;
    text-align: start;
    width: 75%;
    margin: 40px 0px 25px 32px;
}
.txt-conversion-card {
    font-size: 16px;
    line-height: 24px;
    /* margin: 24px 0px; */
    text-align: start;
    margin-left: 32px;
    margin-right: 80px;
    margin-bottom: 24px;
    width: 75%;
}

.btn-wrapper-card {
    text-align: start;
    margin: 0px 0px 40px 32px;
    position: absolute;
}

.btn-card1 {
    border-radius: 100px;
    width: 108px;
    height: 40px;
    left: 0px;
    top: 192px;
}

.btn-card2 {
    border-radius: 100px;
    width: 153px;
    height: 40px;
    left: 0px;
    top: 192px;
}

.wrapper-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.monetization-opportunities-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #6750a473;
}

.monetization-opportunities-container {
    display: flex;
    width: 100%;
    max-width: 1318px;
    flex-direction: column;
    margin-bottom: 104px;
    align-items: center;
}

.monetization-opportunities-title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 80px;
    margin-top: 104px;
}

.monetization-opportunities-card-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.layout-wrapper-card-monetization {
    background: #F6EDFF;
    border-radius: 20px;
    max-width: 304px;
    height: 368px;
    margin-bottom: 40px;
    width: 24%;
}

.container-monetization-content {
    margin-left: 40px;
    margin-top: 40px;
    width: 243px;
    height: 104px;
}

.title-card-monetization {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0px;
}

.txt-card-monetization {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0px;
}

.btn-monetization {
    border-radius: 100px;
    width: 132px;
    height: 56px;
}

.our-advantages-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EADDFF;
    flex-direction: column;
    align-items: center;
}

.title-button-advantages-wrapper {
    width: 100%;
    max-width: 1318px;
    display: flex;
    justify-content: center;
    margin-top: 104px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 125px;
}

.title-advantages {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 56px;
}

.btn-advantages {
    background: #EBB826;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    width: 152px;
    height: 40px;
    border: 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.btn-color-advantages {
    background: rgba(31, 31, 31, 0.12);
    margin-left: 24px;
}

.provide-stable-income-wrapper {
    display: flex;
    max-width: 1318px;
    position: relative;
    width: 100%;
    margin-bottom: 130px;
}

.text-block-provide-wrapper {
    width: 50%;
}

.title-provide {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.list-provide-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0px;
}

.btn-provide {
    border-radius: 100px;
    width: 211px;
    height: 56px;
    margin: 16px 0px;
}

.img-block-provide-wrapper {
    position: absolute;
    top: -67px;
    right: -14px;
}

.img-block-provide-wrapper img {
    height: 454px;
    width: auto;
}

.love-advertisers-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.title-love-advertisers {
    display: flex;
    justify-content: center;
}

.love-advertisers-content-wrapper {
    max-width: 1318px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-advertisers {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    margin: 80px 0px;
    width: 766px;
}

.love-advertisers-card-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container-love-advertisers-card {
    margin-left: 40px;
    margin-top: 40px;
    width: 243px;
    height: 104px;
}

/* .layout-wrapper-card-love-advertisers {
    background: #F6EDFF;
    border-radius: 20px;
    width: 304px;
    height: 439px;
    
} */

.layout-wrapper-card-love-advertisers {
    background: #F6EDFF;
    border-radius: 20px;
    max-width: 304px;
    height: 439px;
    position: relative;
    padding: 40px 29px 32px;
    margin-bottom: 40px;
    width: 24%;
}

.txt-insert {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0px;
    display: flex;
    justify-content: flex-end;
}

.txt-insert {
    position: absolute;
    bottom: 16px;
    right: 29px;
    font-weight: 600;
}

.btn-started {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 280px;
}

.time-to-start-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -162px;
}

.time-to-start-block {
    max-width: 1318px;
    /*height: 324px;*/
    /* background-color: #c1b0f1; */
    background: rgb(155,119,186);
    background: linear-gradient(90deg, rgba(155,119,186,1) 0%, rgba(115,102,250,1) 35%, rgba(188,167,195,1) 100%);
    border-radius: 6px;
    width: 100%;
    display: flex;
}

.time-to-start-title {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    margin: 24px 0px;
    padding-left: 88px;
    padding-top: 25px;
    max-width: 580px;
}

.wrapper-position {
    margin-left: 88px;
    max-width: 480px;
    /* display: flex; */
}

.time-to-start-txt {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin: 24px 0px;
    padding-left: 88px;
    max-width: 540px;
}

.btn-time-start {
    max-width: 153px;
    max-height: 40px;   
    background: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)), #FFFBFE;
    margin: 24px 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    padding: 10px 24px 10px 16px;
    color: #6F63FF;
    font-weight: 500;
    /* font-size: 14px; */
    line-height: 20px;  
}

.btn-time-start-wrapper {
    padding-left: 88px;
    max-width: 480px;
}

.right-dlock-time-to-started-wrapper {
    position: absolute;
    /* right: 175px; */
    right: 16%;
    top: -50px;
}

.fier {
    position: absolute;
    top: 235px;
    left: 343px;
}

.questions-block-wrapper {
    width: 100%;
    background-color: #ffcaef61;
    display: flex;
    justify-content: center;
    position: relative;
}

.questions-block-content-wrapper {
    max-width: 1318px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 155px;
    padding-bottom: 70px;
}

.left-block-inform-wrapper {
    width: 50%;
}

.container-left-block-inform {
    margin-top: 100px;
}

.title-questions {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    max-width: 530px;
    /* margin: 32px 0px; */
}

.txt-questions {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    max-width: 530px;
    margin-top: 32px;
}

.btn-questions-left-wrapper button {
    width: 183px;
    height: 56px;
    margin: 32px 0px;
    background: #6F63FF;
    border-radius: 100px;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.ready-card-wrapper {
    max-width: 536px;
    max-height: 398px;
    background-color: white;
    width: 100%;
    border-radius: 20px;
}

.ready-card-content-wrapper {
    display: flex;
    flex-direction: column;
    /* margin-top: 40px; */
    margin-left: 37px;
    max-width: 512px;
    width: 100%;
}

.title-ready-card {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
    margin-top: 40px;
}

.txt-ready-card {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
    max-width: 485px;
}

.radio-block-wrapper {
    max-width: 461px;
    max-height: 92px;
    width: 100%;
    background: #F6EDFF;
    border-radius: 6px; 
    margin-bottom: 28px;
}

input {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 20px;
}

.btn-ready {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    margin-bottom: 40px;
}

.right-block-inform-wrapper {
    margin-top: 100px;
}

form p {
    margin: 20px 0px;
}

.logo-footer {
    margin-top: 65px;
    margin-bottom: 10px;
}

.txt-block-conversion {
    position: relative;
}
































body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    /* background: #e4abe9;       */
    background: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #9786c5;   
    background-color: #ccaffd; 
    border-radius: 100px;    
    border: 2px solid #c8bbe8;
  }